<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find government contracting
                                  opportunities fast!">

    <title>@ViewBag.extraTitle - @Defines.LocationSettings.siteTitle</title>

    <link rel="alternate" type="application/rss+xml" title="RSS"
          href="@Defines.LocationSettings.rssUrl/rss">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/fonts.css">
        <link rel="stylesheet" href="~/css/pure-min.css">
        <link rel="stylesheet" href="~/css/grids-responsive-min.css">
        <link rel="stylesheet" href="@Defines.LocationSettings.cssUrl">
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="@Defines.LocationSettings.cssMicroUrl" asp-append-version="true" />
    </environment>

    @if (Defines.LocationSettings.gaGuid != "")
    {
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '@Defines.LocationSettings.gaGuid', 'auto');
    ga('send', 'pageview');

    </script>
    }

</head>
<body>


    <div class="wrapper">
        <!-- for sticky footer -->

        <div class="header minisearch">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading rss small-hide"
                   href="/rss"><img src="/images/rss-icon.png" alt="RSS feed for all contracts"></a>

                <a class="pure-menu-heading logo"
                   href="/">
                    <img src="@Defines.LocationSettings.logoUrlSmall" alt="Home">
                </a>
                <div class="search-container">
                    <form method="get" action="/search/" role="search">
                        <input name="kw" type="text" title="Search"><input type="image"
                                                            alt="Search now"
                                                            src="/images/search.png">
                    </form>
                </div>
            </div>

        </div>

        <div class="subheader small-hide">
            <div class="pure-menu pure-menu-horizontal">
                <!-- <a class="pure-menu-heading" href="">Home</a> -->
                <ul class="pure-menu-list" role="navigation">
                    @Html.Partial("Pages-nav")
                </ul>
            </div>
        </div>

        @RenderBody()

        <div class="push"></div>
    </div>

    <div class="footer pure-g">
        @Html.Partial("Footer-three-columns")
    </div>





</body>
</html>
