@using SearchProcurement.Models
@using SearchProcurement.Helpers
@using System.Linq
@model Listing

<div class="view-box">
    <h1>Setting up your RFP/ITB</h1>

    <form class="pure-form pure-form-stacked" id="account" method="POST" action="/account/setupListing">
    @Html.AntiForgeryToken()
    @if (@Model.ListingId != 0)
    {
        <input type="hidden" name="id" value="@ViewBag.id">
    }


        <fieldset>
            <legend>RFP/ITB Information</legend>

            <label asp-for="Title"></label>
            <input asp-for="Title" class="pure-u-23-24" placeholder="" required data-parsley-errors-messages-disabled="true">
            <span class="pure-form-message">This is a required field.</span>

            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="pure-u-23-24" rows=5></textarea>
            <span class="pure-form-message">This is a required field.</span>

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="OpenDate"></label>
                    <input asp-for="OpenDate" value="@(Model.OpenDate == DateTime.MinValue ? "" : Model.OpenDate.ToString("M/d/yy HH:mm"))" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="CloseDate"></label>
                    <input asp-for="CloseDate" value="@(Model.CloseDate == DateTime.MinValue ? "" : Model.CloseDate.ToString("M/d/yyyy HH:mm"))" class="pure-u-23-24">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Optional Information</legend>

            <label asp-for="Contact"></label>
            <textarea asp-for="Contact" class="pure-u-23-24" rows=3></textarea>

            <label asp-for="ActionSteps"></label>
            <textarea asp-for="ActionSteps" class="pure-u-23-24" rows=5></textarea>
        </fieldset>

        <fieldset>
            <legend>File Attachments</legend>

            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="pure-button button-secondary fileinput-button">
                <span>Select files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="files[]" multiple>
            </span>
            <br>
            <br>
            <!-- The global progress bar -->
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <!-- The container for the uploaded files -->
            <table class="pure-table pure-table-striped">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Set attachment download URL? (optional)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="files" class="files">
                @if (Model.BidDocuments != null)
                {
                @foreach (Attachment a in Model.BidDocuments)
                {
                    <tr>
                        <td>@a.DocumentName</td>
                        <td><input class="small" name="redir-@a.Guid" value="@a.RedirectUrl"></td>
                        <td><a class="pure-button button-xsmall" data-guid="@a.Guid" href="#">remove</a></td>
                    </tr>
                }
                }
                </tbody>
            </table>
         </fieldset>

        <fieldset>
            <legend>Geographic Distribution</legend>
            <p>
                Your listing is set to appear in <b>@ViewBag.listingLocation</b>.
                If you'd like your listing to appear in a regional subsite, as well,
                go ahead and pick it here.  (You can only pick one.)
            </p>

            <label for="no-region" class="pure-radio">
                <input id="no-region" type="radio" name="secondary_location_id" value="" @((Model.SecondaryLocationIds == null || Model.SecondaryLocationIds.Length == 0) ? "checked" : "")> <i>No regional subsite</i>
            </label>
            @foreach (var loc in LocationHelper.getRegionsForState(Convert.ToInt32(ViewBag.locId)))
            {
            <label for="region-@loc.LocationId" class="pure-radio">
                <input id="region-@loc.LocationId" type="radio" name="secondary_location_id" value="@loc.LocationId" @((Model.SecondaryLocationIds != null && Array.IndexOf(Model.SecondaryLocationIds, loc.LocationId) != -1) ? "checked" : "")>
                @loc.LocationName
            </label>
            }
        </fieldset>

        <p>That's it!  That's all we need to set up your listing on ProcurementSearch.com.</p>

        @if (@Model.ListingId == 0)
        {
        <button type="submit" name="action" value="add_listing" class="pure-button pure-button-primary">Add Listing</button>
        <button type="submit" name="action" value="save_for_later" class="pure-button button-secondary">Save for Later</button>
        }
        else
        {
        <button type="submit" name="action" value="addendum" class="pure-button pure-button-primary">Save as Addendum</button>
        <button type="submit" name="action" value="revision" class="pure-button button-secondary">Save as Revision</button>
        <button type="submit" name="action" value="cancel" class="pure-button button-secondary">Cancel editing</button>
        }
    </form>

</div>



<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {

  // Set up the datetime pickers
  $('#OpenDate, #CloseDate').datetimepicker({
    format: 'm/d/y H:i'
  });

  // And the file drag/drop utility
  var removeUpload = function(e, a, uploadId) {
      e.stopPropagation();
      e.preventDefault();
      $.ajax('/account/RemoveUpload?id=' + uploadId, {
          success: function() {
              // If the server says we've removed that file, remove the file from the list
              $(a).closest('tr').remove();
          }
      });
  };

  // Do we need to pre-load the remove links for some upload buttons?
  @if (Model.BidDocuments != null)
  {
  <text>
  $('#files a').each(function(idx, el) {
    var uploadId = $(el).data('guid');
    $(el).click(function(e) { removeUpload(e, el, uploadId); });
  });
  </text>
  }

  $('#fileupload').fileupload({
      url: '/account/saveUpload',
      dataType: 'json',
      done: function (e, data) {
          console.log("DONE:");
          console.log(data);
          $.each(data.result.files, function (index, file) {
              var a = $('<a>', {
                  text: 'remove',
                  href: '#',
                  click: function(e) { removeUpload(e, a, file.uploadId) }
              });
              a.addClass('pure-button button-xsmall');
              var name = $('<td/>').text(file.name);
              var redir = $('<td><input class="small" name="redir-' + file.uploadId + '"></td>');
              var rem = $('<td/>').append(a);
              var row = $('<tr>').append(name).append(redir).append(rem);
              row.appendTo('#files');
          });
      },
      progressall: function (e, data) {
          console.log("PROGRESS:");
          console.log(data);
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#progress .progress-bar').css(
              'width',
              progress + '%'
          );
          console.log(progress);
      }
  }).prop('disabled', !$.support.fileInput)
      .parent().addClass($.support.fileInput ? undefined : 'disabled');

});

</script>
