@using SearchProcurement.Helpers

<div class="minisearch">
    <form method="get" action="/search/" role="search">
        <a class="logo" href="/"><img src="/images/logo-sm.png" alt="Home"></a>
        <input name="kw" type="text" title="Search">
        <button type="submit" id="mini-search" class="pure-button button-primary">search</button>
    </form>
</div>


@if (!String.IsNullOrEmpty(ViewBag.agencyHeader))
{
<div class="agency-header" role="complementary">
@Html.Raw(ViewBag.agencyHeader)
</div>
}

<div class="search-options" role="complementary">
    <span id="search-region">Region</span>
    <span id="search-agencies">Agencies</span>
    <span id="search-sortby">Sort by</span>
    <span id="search-show">Show</span>
</div>


<div class="search-results" role="main">
    <p class="head">
        <span class="count">@ViewBag.searchCount RESULTS</span> for @ViewBag.searchString:
    </p>
    <p class="save">
        <a href="">Save this search</a> | Notify with new matching results: <a href="http://blogtrottr.com/?subscribe=@ViewBag.rssUrl/rss/@ViewBag.searchUrlEncoded" target="_blank" title="Get this search delivered by email">Email</a> &nbsp; <a href="/rss/@ViewBag.searchUrl">RSS</a>
    </p>

    <div class="results">
        @foreach (var res in Model.searchResults)
        {
        <div class="item">
            <span class="title"><a href="/details/@res.Id@ViewBag.kwMatch">@res.Title</a></span><br>
            <div class="preview">@res.Description</div>
            <span class="link"><a title="View details for @res.Title" href="/details/@res.Id@ViewBag.kwMatch">View details</a></span> |
            <span class="source"><a title="View all for @res.AgencyName" href="/search?agency=@res.AgencyId">@res.AgencyName</a></span> |
            @if ( res.CloseDate != null )
            {
            <span class="close_date small">Bids Due: @res.CloseDate.ToString("M/d/yyyy")</span>
            }
        </div>
        }
    </div>
</div>

<div class="search-options-overlay" id="region-options">
    Search in region
    <ul>
        <li><a href="http://or.procurementsearch.com/search?@ViewBag.searchUrl">Oregon</a>
        <li>&nbsp;<a class="small" href="http://corvallis.procurementsearch.com/search?@ViewBag.searchUrl">Corvallis</a>
        <li>&nbsp;<a class="small" href="http://eugene.procurementsearch.com/search?@ViewBag.searchUrl">Eugene</a>
        <li>&nbsp;<a class="small" href="http://pdx.procurementsearch.com/search?@ViewBag.searchUrl">Portland</a>
        <li>&nbsp;<a class="small" href="http://salem.procurementsearch.com/search?@ViewBag.searchUrl">Salem</a>
        <li><a href="http://wa.procurementsearch.com/search?@ViewBag.searchUrl">Washington</a>
        <li><a href="http://procurementsearch.com/search?@ViewBag.searchUrl">All regions</a>
    </ul>
</div>

<div class="search-options-overlay" id="agencies-options">
    Limit results to:
    <ul>
        @foreach (var a in SiteNavHelper.getAgencies(Defines.LocationSettings.myLocationId))
        {
        <li><a href="/search/?agency=@a.agencyId">@a.name</a></li>
        }
    </ul>
</div>

<div class="search-options-overlay" id="sortby-options">
    Relevance &#10003;<br>
    Bids Due Date (earliest first)<br>
    Bids Due Date (latest first)
</div>

<div class="search-options-overlay" id="show-options">
    Open Procurement Opportunities &#10003;<br>
    Closed Procurement Opportunities<br>
</div>


<script type="text/javascript">

function makeClickable(clickable, overlay) {
    // Correctly position the option overlay
    var np = jQuery(clickable);
    var pos = np.offset();
    jQuery(overlay).offset({
      top: pos.top + np.height() - 2,
      left: pos.left
    });

    // and make them clickable
    var el = jQuery(clickable);
    var over = jQuery(overlay);

    // show the overlay
    el.click(function(){
        over.show();
    });

    // and make everything else hideable
    jQuery(document).mouseup(function(e){
        var el = jQuery(overlay);
        if (!el.is(e.target) && el.has(e.target).length === 0) {
            el.hide();                
        }
    });
}

jQuery(document).ready(function(){
    makeClickable('#search-region', '#region-options');
    makeClickable('#search-agencies', '#agencies-options');
    makeClickable('#search-sortby', '#sortby-options');
    makeClickable('#search-show', '#show-options');
})
</script>
