@{
    Layout = "~/Views/Shared/_Search.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.agencyHeader))
{
<div class="agency-header" role="complementary">
@Html.Raw(ViewBag.agencyHeader)
</div>
}

<div class="search-rss" role="complementary">
    <a href="/rss/@ViewBag.searchUrl">
        <img src="/images/rss-box.png"
             alt="RSS for this search" height="40" width="40">
    </a>
    <p class="rss-text">
        You can save this search as an RSS feed and receive notices
        when opportunities match your keywords.
    </p>
    <hr>
</div>

<div class="search-results" role="main">
    <p class="head">
        <b>RESULTS for</b> @ViewBag.searchString:
    </p>
    <p class="count">@ViewBag.searchCount results</p>

    <div class="results">
        @foreach (var res in Model.searchResults)
        {
        <div class="item">
            <span class="title"><a href="/details/@res.Id@ViewBag.kwMatch">@res.Title</a></span><br>
            <div class="preview">@res.Description</div>
            <span class="link"><a title="View details for @res.Title" href="/details/@res.Id@ViewBag.kwMatch">View details</a></span> |
            <span class="source"><a title="View all for @res.AgencyName" href="/search?agency=@res.AgencyId">@res.AgencyName</a></span> |
            @if ( res.CloseDate != null )
            {
            <span class="close_date small">Bids Due: @res.CloseDate.ToString("M/d/yyyy")</span>
            }
        </div>
        }
    </div>
</div>


<div class="search-rss by-email">
    <p class="rss-email-text">
        <a href="http://blogtrottr.com/?subscribe=@ViewBag.rssUrl/rss/@ViewBag.searchUrlEncoded" target="_blank" title="Get this search delivered by email">
            <img src="http://blogtrottr.com/images/icons/blogtrottr-button-91x17px.gif" alt="Blogtrottr" />
        </a>
        <a class="search-results-link-extra" href="http://blogtrottr.com/?subscribe=@ViewBag.rssUrl/rss/@ViewBag.searchUrlEncoded" target="_blank" title="Get this search delivered by email">Click here</a>
        to have these search results emailed to you
        whenever any new opportunities match your keywords.
        <small>(Results emailed via BlogTrottr.)</small>
    </p>
    <hr>
</div>



<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>
