@using SearchProcurement.Helpers
@using Microsoft.AspNetCore.Routing

@Html.Partial("Search-header")

@if (!String.IsNullOrEmpty(ViewBag.agencyHeader))
{
<div class="agency-header" role="complementary">
@Html.Raw(ViewBag.agencyHeader)
</div>
}

<div class="search-options" role="complementary">
    <span class="noselect" id="search-region">Region</span>
    <span class="noselect" id="search-agencies">Agencies</span>
    <span class="noselect" id="search-sortby">Sort by</span>
    <span class="noselect" id="search-show">Show</span>
</div>


<div class="search-results" role="main">
    <p class="head">
        <span class="count">@ViewBag.searchCount RESULTS</span> for @ViewBag.searchString:
    </p>
    <p class="save">
        <a href="">Save this search</a> | Notify with new matching results: <a href="http://blogtrottr.com/?subscribe=@ViewBag.rssUrl/rss/@ViewBag.searchUrlEncoded" target="_blank" title="Get this search delivered by email">Email</a> &nbsp; <a href="/rss/@ViewBag.searchUrl">RSS</a>
    </p>

    <div class="results">
        @foreach (var res in Model.searchResults)
        {
        <div class="item">
            <span class="title"><a href="/details/@res.Id@ViewBag.kwMatch">@res.Title</a></span><br>
            <div class="preview">@res.Description</div>
            <span class="link"><a title="View details for @res.Title" href="/details/@res.Id@ViewBag.kwMatch">View details</a></span> |
            <span class="source"><a title="View all for @res.AgencyName" href="/search/Agency?agency=@res.AgencyId">@res.AgencyName</a></span> |
            @if ( res.CloseDate != null )
            {
            <span class="close_date small">Bids Due: @res.CloseDate.ToString("M/d/yyyy")</span>
            }
        </div>
        }
    </div>
</div>

<div class="search-options-overlay" id="region-options">
    <div id="region-search-container">
        <span id="region-search-glass"><i class="fas fa-search"></i></span>
        <input type="text" id="region-search" placeholder="Search">
    </div>
    <ul>
        <li><b><a href="http://procurementsearch.com/search?@ViewBag.searchUrl">All regions</a></b></li>
        @foreach (var l in SiteNavHelper.getLocations())
        {
        <li data-name="@l.name" data-url="@l.url" class="region-search-item @(l.sub == true ? "region-search-sub" : "" )"><a href="http://@l.url/search?@ViewBag.searchUrl">@l.name</a></li>
        }
    </ul>
    </ul>
</div>

<div class="search-options-overlay" id="agencies-options">
    <b>Show results from</b>:
    <div class="smallpad">
        <div class="parent">
            <div class="options"><b>All agencies</b></div>
            @if ( ViewBag.SearchOpts["agencies"].Length > 0 ) {
            <div class="check"><input type="checkbox" name="agencies[]" value="__all"></div>
            }
            else
            {
            <div class="check"><input type="checkbox" name="agencies[]" value="__all" checked></div>
            }
        </div>
        @foreach (var a in SiteNavHelper.getAgencies(Defines.LocationSettings.myLocationId))
        {
        <div class="parent">
            <div class="options">@a.name</div>
            @if ( ViewBag.SearchOpts["agencies"].Length > 0 && Array.IndexOf(ViewBag.SearchOpts["agencies"], a.agencyId) != -1 ) {
            <div class="check"><input type="checkbox" name="agencies[]" value="@a.agencyId" checked></div>
            }
            else
            {
            <div class="check"><input type="checkbox" name="agencies[]" value="@a.agencyId"></div>
            }
        </div>
        }
    </div>
</div>

<div class="search-options-overlay" id="sortby-options">
    <div class="parent">
        <div class="options" data-option="sortBy" data-value="relevance">Relevance</div>
        <div class="check">@(ViewBag.SearchOpts["sortBy"] != "bidsduefirst" && ViewBag.SearchOpts["sortBy"] != "bidsduelast" ? Html.Raw("<i class=\"fas fa-check-circle\"></i>") : Html.Raw("") )</div>
    </div>
    <div class="parent">
        <div class="options" data-option="sortBy" data-value="bidsduefirst">Bids Due Date (earliest first)</div>
        <div class="check">@(ViewBag.SearchOpts["sortBy"] == "bidsduefirst" ? Html.Raw("<i class=\"fas fa-check-circle\"></i>") : Html.Raw("") )</div>
    </div>
    <div class="parent">
        <div class="options" data-option="sortBy" data-value="bidsduelast">Bids Due Date (latest first)</div>
        <div class="check">@(ViewBag.SearchOpts["sortBy"] == "bidsduelast" ? Html.Raw("<i class=\"fas fa-check-circle\"></i>") : Html.Raw("") )</div>
    </div>
</div>

<div class="search-options-overlay" id="show-options">
    <div class="parent">
        <div class="options" data-option="show" data-value="open">Open Opportunities</div>
        <div class="check">@(ViewBag.SearchOpts["show"] != "closed" ? Html.Raw("<i class=\"fas fa-check-circle\"></i>") : Html.Raw("") )</div>
    </div>
    <div class="parent">
        <div class="options" data-option="show" data-value="closed">Closed Opportunities</div>
        <div class="check">@(ViewBag.SearchOpts["show"] == "closed" ? Html.Raw("<i class=\"fas fa-check-circle\"></i>") : Html.Raw("") )</div>
    </div>
</div>


<script type="text/javascript">

var selectedAgencies = [];
var showing = "";

function makeClickable(clickable, overlay) {
    // Correctly position the option overlay
    var np = jQuery(clickable);
    var pos = np.offset();
    jQuery(overlay).offset({
      top: pos.top + np.height() + 0,
      left: pos.left
    });

    // and make them clickable
    var el = jQuery(clickable);
    var over = jQuery(overlay);

    // show the overlay
    el.click(function(e){
        over.show();
    });

    // and make everything else hideable
    jQuery(document).mouseup(function(e){
        var el = jQuery(overlay);
        if (!el.is(e.target) && el.has(e.target).length === 0) {

            if( jQuery(el).attr("id") == "agencies-options" && el.is(":visible") ) {

                // Build the change array for the checkboxes
                var newSelectedAgencies = [];
                $("input:checkbox[name='agencies[]']:checked").each(function(){
                    newSelectedAgencies.push($(this).val());
                });

                // are they changed?
                if( !isEqual(selectedAgencies, newSelectedAgencies) ) {

                    var agencies = [];
                    $("input:checkbox[name='agencies[]']:checked").each(function(idx, el){
                        agencies.push(jQuery(el).val());
                    });

                    // and we're done
                    if( agencies.join(",").indexOf("__all") != -1 )
                        updateSearch("agencies", "");
                    else
                        updateSearch("agencies", agencies.join(","));

                }

            }


            el.hide();
            showing = "";

        }
    });
}


function updateSearch(opt, val) {
    var SearchOpts = new URLSearchParams(window.location.search);
    if( val )
        SearchOpts.set(opt, val);
    else
        SearchOpts.delete(opt);
    location.assign("?" + SearchOpts.toString());
}


// Set up the region search filter
jQuery("#region-search").keyup(function(){
    var match = jQuery("#region-search").val().toLowerCase().trim();
    if( match == "" )
        jQuery(".region-search-item").show();
    else {
        jQuery(".region-search-item").each(function(idx, list_item){
            var el = jQuery(list_item);
            var name = el.data("name").toLowerCase();
            var url = el.data("url").toLowerCase();
            if( name.includes(match) || url.includes(match) )
                el.show();
            else
                el.hide();
        });
    }
});



jQuery(document).ready(function(){
    makeClickable('#search-region', '#region-options');
    makeClickable('#search-agencies', '#agencies-options');
    makeClickable('#search-sortby', '#sortby-options');
    makeClickable('#search-show', '#show-options');


    // Wire up the agency limit checkboxes
    jQuery("input[name='agencies[]']").click(function(e){
        var box = jQuery(e.target);

        // if they're toggling the "all" checkbox on, deselect everything else
        if( box[0].value == "__all" ) {
            if( box[0].checked ) {
                jQuery("input[name='agencies[]']").prop("checked", false);
                jQuery(box[0]).prop("checked", true);
            }
        } else {

            // if every other checkbox is unchecked, toggle All back on
            var ct = 0;
            jQuery("input[name='agencies[]']").each(function(idx, el){
                if( el.checked )
                    ct++;
            })

            if( ct )
                jQuery("input[name='agencies[]'][value='__all']").prop("checked", false);
            else
                jQuery("input[name='agencies[]'][value='__all']").prop("checked", true);

        }
    });


    // Wire up the single click options
    jQuery(".search-options-overlay .parent .options").click(function(e){
        var el = jQuery(e.target);
        var option = el.data("option");
        var value = el.data("value");
        updateSearch(option, value);
    });


    // Build the change array for the checkboxes
    $("input:checkbox[name='agencies[]']:checked").each(function(){
        selectedAgencies.push($(this).val());
    });

})
</script>
