<div class="view-box">
    <h2>Viewing @Model.sourceName Opportunity:</h2>

    @if (Model.parentId != 0)
    {
    <div class="subtitle">
        <span class="attention">Project</span>:  <a href="/details/@Model.parentId">@Model.subtitle</a>
    </div>
    <div class="title">
        <span class="attention">Contract:</span> @Model.title
    </div>
    }
    else
    {
    <div class="title">
        @Model.title
    </div>
    }

    <iframe id="detailsframe" src="/details/@Model.id/iframe"></iframe>

    @if (Model.snippets.Length > 0 )
    {
    <div class="snippets">
        Bid document preview for <b>@ViewBag.kw</b>:
        <dl>
            @foreach (var res in Model.snippets)
            {
            <dt>@res.Title:</dt>
            <dd>@Html.Raw(res.Snippet)</dd>
            }
        </dl>
    </div>
    }

    @if (Model.attachments.Length > 0 )
    {
    <div class="attachments">
        Bid Documents:
        <ul>
            @foreach (var res in Model.attachments)
            {
            <li><a target="_blank" href="@res.Url">@res.Title</a> (@res.Filetype)</li>
            }
        </ul>
    </div>
    }

    @if (Model.subcontracts.Length > 0 )
    {
    <div class="subcontracts">
        Subcontracts:
        <ul>
            @foreach (var res in Model.subcontracts)
            {
            <li><a target="_blank" href="/details/@res.id">@res.title</a></li>
            }
        </ul>
    </div>
        
    }

    <div class="view-action-steps">
        @Html.Raw(Model.actionSteps)
    </div>

    <p class="share-title">
        Share with a friend!
    </p>
    <p>
        <span class="st_sharethis_large" displaytext="ShareThis"></span>
        <span class="st_facebook_large" displaytext="Facebook"></span>
        <span class="st_twitter_large" displaytext="Tweet"></span>
        <span class="st_linkedin_large" displaytext="LinkedIn"></span>
        <span class="st_googleplus_large" displaytext="Google +"></span>
        <span class="st_email_large" displaytext="Email"></span>
    </p>
</div>

<script type="text/javascript">
function resizedetailsframe(){
    var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    var buffer = 150; // how many pixels to subtract from window height to fit the iframe
    if( h <= 450 )
        document.getElementById('detailsframe').style.height = (h - buffer) + 'px';
    else
        document.getElementById('detailsframe').style.height = '300px';
};
window.onload = window.onresize = resizedetailsframe;
</script>


<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>
