@using SearchProcurement.Models
@model Listing
@{
    Layout = null;
}

<div class="my-rfps">
    <h2>Project: @Model.Title</h2>
    <br>
    <p>
        <a class="pure-button button-small" href="/Agency/editListing?id=@Model.ListingId">Edit this listing</a>
        <a class="pure-button button-small" href="/Agency/addSublisting?parentId=@Model.ListingId">Add a subcontract</a>
    </p>
    <br>
    @if (Model.Sublistings == null)
    {
    <p>
        There are no subcontracts.
    </p>
    }
    else
    {
    <p>
        There @(Model.Sublistings.Length == 1 ? "is" : "are") @Model.Sublistings.Length subcontracts:
    </p>
    }
    <br>
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <tr>
                <th>Title <small>(click to view)</small></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Sublistings == null || Model.Sublistings.Length == 0)
            {
            <tr>
                <th colspan="3">No subcontracts</th>
            </tr>
            }
            else
            {
            foreach(var l in Model.Sublistings)
            {
            <tr>
                <td><a target="_blank" href="/details/@l.ListingId">@l.Title</a></td>
                <td style="text-align: center;">
                    <a href="/Agency/editSublisting?id=@l.ListingId&parentId=@Model.ListingId" class="pure-button button-xsmall" alt="Edit Subcontract"><img src="/images/icons/database_edit.png"><br>Edit</a>
                </td>
                <td style="text-align: center;">
                    <a href="#" class="pure-button button-xsmall remove_button" data-id="@l.ListingId" alt="Remove Subcontract"><img src="/images/icons/database_delete.png"><br>Remove</a>
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
// "Remove the sublisting" action
$(".remove_button").click(function(e){
    e.stopPropagation();
    e.preventDefault();
    if( confirm("Are you sure you want to delete this subcontract?") ) {
        var that = this;
        var myId = $(this).data("id");
        $.ajax('/Agency/removeSublisting?id=' + myId, {
            success: function() {
                // If the server says we've removed that file, remove the file from the list
                $(that).closest('tr').remove();
            }
        });
    }
});
</script>
