@{
    Layout = "~/Views/Shared/_Account.cshtml";
}
<div class="account-container">
    <h1>
        Welcome, @Model.MyLogin.UserRealName!
    </h1>
    @if (!String.IsNullOrEmpty(Model.AgencyLogo))
    {
    <img src="@Model.AgencyLogo" class="pure-img">
    }
    <h2>
        @Model.AgencyName
    </h2>
    <p>
        <a class="pure-button button-small pure-button-primary" href="/Agency/newListing">Set up a new Listing</a>
        <a class="pure-button button-small" href="/Agency/myAccount">Edit my account</a>
        @if (Model.MyLogin.isAdmin)
        {
        <a class="pure-button button-small" href="/Agency/myTeam">Manage team</a>
        }
        <a class="pure-button button-small" href="/Agency/logout">Log out</a>
    </p>



    <div class="my-Listings">
        <h2>Active Listings</h2>
        <p>
            These are your current listings.  When an Listing/ITB closes, or when you manually disable it, it moves from this table to the inactive Listing/ITB table below.
        </p>
        <table class="pure-table pure-table-horizontal pure-table-striped">
            <thead>
                <tr>
                    <th>Title <small>(click to view)</small></th>
                    <th>Status</th>
                    <th>Close Date</th>
                    <th></th>
<!--
                    <th></th>
                    <th></th>
-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.activeListings.Length == 0)
                {
                <tr>
                    <th colspan="6">No active listings</th>
                </tr>
                }
                else
                {
                foreach(var l in ViewBag.activeListings)
                {
                <tr>
                    <td><a target="_blank" href="/details/@l.ListingId">@l.Title</a></td>
                    <td>@l.Status</td>
                    <td>@(l.CloseDate == DateTime.MinValue ? "none" : l.CloseDate.ToString("M/d/y"))</td>
                    <td style="text-align: center;">
                        @if (l.Type == "umbrella")
                        {
                        <a href="/Agency/setupUmbrella?id=@l.ListingId" rel="modal:open" class="pure-button button-xsmall edit-multiple" alt="Edit Listing"><img src="/images/icons/database_edit.png"><br>Edit</a>
                        }
                        else
                        {
                        <a href="/Agency/editListing?id=@l.ListingId" class="pure-button button-xsmall" alt="Edit Listing"><img src="/images/icons/database_edit.png"><br>Edit</a>
                        }
                    </td>
<!--
                    <td style="text-align: center;">
                        <a href="/Agency/cloneListing?id=@l.ListingId" class="pure-button button-xsmall" alt="Clone Listing"><img src="/images/icons/database_lightning.png"><br>Clone</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="/Agency/pauseListing?id=@l.ListingId" class="pure-button button-xsmall" alt="Pause Listing - can be reopened"><img src="/images/icons/database_gear.png"><br>Search/Notify Vendors</a>
                    </td>
-->
                    <td style="text-align: center;">
                        <a href="/Agency/closeListing?id=@l.ListingId" class="pure-button button-xsmall" alt="Close Listing Now"><img src="/images/icons/database_delete.png"><br>Close</a>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>

        <h2>Inactive Listings</h2>
        <p>
            These are your inactive Listings.  You can't reopen any of these, but you can add an intent to award or notice to proceed to any closed listing.
        </p>
        <table class="pure-table pure-table-horizontal pure-table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Close Date</th>
                    <th></th>
                    <th></th>
<!--                    <th></th>
-->                </tr>
            </thead>
            <tbody>
                @if (ViewBag.inactiveListings.Length == 0)
                {
                <tr>
                    <th colspan="5">No inactive listings</th>
                </tr>
                }
                else
                {
                foreach(var l in ViewBag.inactiveListings)
                {
                <tr>
                    <td>@l.Title</td>
                    <td>@l.Status</td>
                    <td>@(l.CloseDate == DateTime.MinValue ? "none" : l.CloseDate.ToString("M/d/y"))</td>
                    <td style="text-align: center;">
                        <a href="/Agency/addIntentToAward?id=@l.ListingId" class="pure-button button-xsmall" alt="Add Intent to Award"><img src="/images/icons/database_add.png"><br>Add Intent<br>to Award</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="/Agency/addNoticeToProceed?id=@l.ListingId" class="pure-button button-xsmall" alt="Add Notice to Proceed"><img src="/images/icons/database_go.png"><br>Add Notice<br>to Proceed</a>
                    </td>
<!--                    <td style="text-align: center;">
                        <a href="/Agency/editListing?id=@l.ListingId" class="pure-button button-xsmall" alt="Clone Listing"><img src="/images/icons/database_lightning.png"><br>Clone</a>
                    </td>
-->                </tr>
                }
                }

            </tbody>
        </table>
    </div>

</div>
